body {
	height: 100vh;
	background: url(../imagens/bg-main-desktop.png) no-repeat;
}
.container {
	display: flex;
	align-items: center;
	gap: 350px;
	height: 100vh;
}
.image-front-card {
	position: relative;
	width: 350px;
	left: 220px;
}

.details-card1 .logo {
	position: absolute;
	left: 240px;
	top: 150px;
}
.details-card1 .card-number {
	color: var(--White);
	position: absolute;
	top: 240px;
	left: 260px;
	letter-spacing: 3px;
	font-size: 20px;
}
.details-card1 .card-name {
	color: var(--White);
	position: absolute;
	top: 280px;
	left: 260px;
	font-size: 15px;
}
.details-card1 .card-cvc {
	color: var(--White);
	position: absolute;
	top: 280px;
	left: 500px;
	font-size: 15px;
}
.image-back-card {
	width: 350px;
	position: relative;
	top: 30px;
	left: 280px;
}
.details-card2 p {
	position: absolute;
	color: var(--White);
	left: 550px;
	top: 430px;
}
.form {
	width: 400px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form input {
	width: 90%;
	margin-bottom: 15px;
	border-radius: 7px;
	padding: 10px;
	border: 1px solid var(--Light-grayish-violet);
	display: block;
	outline: none;
}
.form label {
	font-size: 10px;
	display: inline-block;
	color: var(--Very-dark-violet);
	margin-bottom: 5px;
	letter-spacing: 2px;
}

.form ::placeholder {
	font-size: 15px;
	color: var(--Light-grayish-violet);
}
.form input:focus {
	border: solid 1px var(--Dark-grayish-violet);
}
.input-date {
	display: flex;
}

.input-date .month,
.input-date .year {
	width: 60px;
	margin-right: 10px;
}
.input-date .cvc {
	width: 200px;
	margin-left: 20px;
}

.confirm-button {
	margin-top: 30px;
	padding: 12px;
	width: 90%;
	border-radius: 7px;
	background-color: var(--Very-dark-violet);
	color: var(--White);
	cursor: pointer;
}
.thank {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
}
.thank img {
	margin-bottom: 30px;
}
.thank h3 {
	margin-bottom: 10px;
	letter-spacing: 3px;
	color: var(--Very-dark-violet);
}
.thank p {
	margin-bottom: 40px;
	color: var(--Dark-grayish-violet);
	font-size: 16px;
}
.thank .continue-button {
	padding: 12px;
	width: 50%;
	border-radius: 7px;
	background-color: var(--Very-dark-violet);
	color: var(--White);
	cursor: pointer;
}
