body {
	min-height: 100vh;
	display: flex;
	align-items: center;
}
.hidden {
	display: none !important;
}
.conteudo {
	display: flex;
	gap: 150px;
	position: relative;
	justify-content: center;
}
.bg-imagem {
	background-image: url(../imagens/bg-main-desktop.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 100vh;
}

.conteudo .cartoes img {
	width: 340px;
}
.cartao-1 {
	position: absolute;
	left: 140px;
	top: 110px;
}
.logo {
	position: absolute;
	top: 130px;
	left: 160px;
}
.cartoes img.logo {
	width: 60px;
}
.numeracao-cartao {
	color: var(--White);
	position: absolute;
	left: 170px;
	top: 220px;
	font-size: 20px;
	letter-spacing: 3px;
}
.titular-cartao {
	position: absolute;
	color: var(--White);
	left: 170px;
	top: 260px;
	font-size: 13px;
}

.mes-cartao {
	position: absolute;
	color: var(--White);
	left: 420px;
	top: 260px;
	font-size: 13px;
}
.ano-cartao {
	position: absolute;
	color: var(--White);
	left: 443px;
	top: 260px;
	font-size: 13px;
}

.cartao-2 {
	position: absolute;
	left: 220px;
	top: 320px;
}
.seguranca-cartao {
	position: absolute;
	color: var(--White);
	left: 490px;
	top: 405px;
	font-size: 13px;
	letter-spacing: 2px;
}
.formulario {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.formulario .inputs {
	margin-bottom: 20px;
	border-radius: 10px;
	height: 50px;
	width: 450px;
	border: none;
	cursor: pointer;
	border: 1px solid var(--Light-grayish-violet);
	outline: none;
	display: block;
	position: relative;
}

.formulario label {
	display: inline-block;
	font-size: 8px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.data-input {
	display: flex;
	width: 100%;
	align-items: center;
}
.data-input #mes-input,
#ano-input {
	width: 70px;
}
.data-input #seguranca-input {
	width: 270px;
	margin-left: 25px;
}

::placeholder {
	padding-left: 15px;
	color: var(--Light-grayish-violet);
}

.botao {
	width: 430px;
	height: 40px;
	border-radius: 10px;
	color: var(--White);
	background-color: var(--Very-dark-violet);
	border: none;
	cursor: pointer;
	margin-top: 30px;
}
.thank {
	width: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
}
.thank h1 {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: var(--Very-dark-violet);
}
.thank p {
	font-size: 18px;
	color: var(--Dark-grayish-violet);
}
.thank button {
	width: 100%;
	color: var(--White);
	background-color: var(--Very-dark-violet);
	border-radius: 6px;
	padding: 16px;
	font-size: 18px;
	cursor: pointer;
}

.cor-borda {
	border-color: var(--Light-grayish-violet);
}

.itens-cartao a {
	position: absolute;
	visibility: hidden;
	color: var(--input-errors);
	font-size: 10px;
}
.itens-cartao.erro input {
	border-color: var(--input-errors);
}
.itens-cartao.erro a {
	color: var(--input-errors);
	visibility: visible;
}
.msg-titular, .msg-numeracao, .msg-mes, .msg-ano{
	margin-top: -20px;
	
}
.msg-seguranca {
	margin-top: -20px;
	margin-left: 30px;
}