:root {
	--input-linear-gradient: (hsl(249, 99%, 64%));
	--input-linear-grafient2: hsl(278, 93%, 30%);
	--input-errors: hsl(0, 100%, 66%);
	--White: hsl(0, 0%, 100%);
	--Light-grayish-violet: hsl(270, 3%, 87%);
	--Dark-grayish-violet: hsl(279, 6%, 55%);
	--Very-dark-violet: hsl(278, 68%, 11%);
}
