:root {
  /* ===== Cores neutras ===== */
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(270, 3%, 87%);
  --color-dark-gray: hsl(279, 6%, 55%);
  --color-very-dark-violet: hsl(278, 68%, 11%);

  /* ===== Cores de destaque ===== */
  --color-error: hsl(0, 100%, 66%);

  /* ===== Gradientes ===== */
  --color-gradient-start: hsl(249, 99%, 64%);
  --color-gradient-end: hsl(278, 93%, 30%);
  --color-gradient: linear-gradient(
    to right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
}
